# EJERCICIO MÓDULO 4: BASE DE DATOS 'SUPERMERCADO'

## 1-CREACIÓN DE LA BASE DE DATOS.

Se genera una Base de Datos relacional cuya temática es la operativa habitual de un supermercado. Para ello, se definirán las correspondientes tablas de datos, así como las relaciones entre dichas tablas.

### 1.1-DEFINICIÓN DE LAS TABLAS DE DATOS.

Se define cada una de las tablas que componen la Base de Datos, junto a sus atributos, los tipos de datos y las relaciones.

#### 1.1.1-TABLA tiendas.

|Columna          |Tipo                       |Valores permitidos|
|-----------------|---------------------------|------------------|
|**id_tienda**    |INT UNSIGNED AUTO_INCREMENT|                  |
|**nombre_tienda**|VARCHAR(60)                |                  |
|**direccion**    |VARCHAR(80)                |                  |
|**ciudad**       |VARCHAR(40)                |                  |
|**cod_postal**   |INT(5) UNSIGNED            |                  |
|**PRIMARY KEY**  |(id_tienda)                |                  |

#### 1.1.2-TABLA empleados.

|Columna            |Tipo                                     |Valores permitidos              |
|-------------------|-----------------------------------------|--------------------------------|
|**id_empleado**    |INT UNSIGNED AUTO_INCREMENT              |                                |
|**id_tienda**      |INT UNSIGNED                             |                                |
|**nombre_empleado**|VARCHAR(60)                              |                                |
|**puesto**         |ENUM                                     |'Cajero', 'Gerente', 'Reponedor'|
|**PRIMARY KEY**    |(id_empleado)                            |                                |
|**FOREIGN KEY**    |(id_tienda) REFERENCES tienda (id_tienda)|                                |

#### 1.1.3-TABLA categorias.

|Columna             |Tipo                       |Valores permitidos|
|--------------------|---------------------------|------------------|
|**id_categoria**    |INT UNSIGNED AUTO_INCREMENT|                  |
|**nombre_categoria**|VARCHAR(60)                |                  |
|**PRIMARY KEY**     |(id_categoria)             |                  |

#### 1.1.4-TABLA productos.

|Columna            |Tipo                                               |Valores permitidos|
|-------------------|---------------------------------------------------|------------------|
|**id_producto**    |INT UNSIGNED AUTO_INCREMENT                        |                  |
|**id_categoria**   |INT UNSIGNED                                       |                  |
|**nombre_producto**|VARCHAR(60)                                        |                  |
|**precio**         |FLOAT(10,2)                                        |                  |
|**stock**          |MEDIUMINT                                          |                  |
|**PRIMARY KEY**    |(id_producto)                                      |                  |
|**FOREIGN KEY**    |(id_categoria) REFERENCES categorias (id_categoria)|                  |

#### 1.1.5-TABLA clientes.

|Columna             |Tipo                                   |Valores permitidos|
|--------------------|---------------------------------------|------------------|
|**id_cliente**      |INT UNSIGNED PRIMARY KEY AUTO_INCREMENT|                  |
|**nombre_cliente**  |VARCHAR(60)                            |                  |
|**apellido_cliente**|VARCHAR(60)                            |                  |
|**email**           |VARCHAR(60)                            |                  |
|**cod_postal**      |INT(5) UNSIGNED                        |                  |
|**PRIMARY KEY**     |(id_cliente)                           |                  |

#### 1.1.6-TABLA ordenes.

|Columna        |Tipo                                            |Valores permitidos   |
|---------------|------------------------------------------------|---------------------|
|**id_orden**   |INT UNSIGNED AUTO_INCREMENT                     |                     |
|**id_cliente** |INT UNSIGNED                                    |                     |
|**id_empleado**|INT UNSIGNED                                    |                     |
|**fecha_orden**|DATE                                            |                     |
|**metodo_pago**|ENUM                                            |'Tarjeta', 'Metalico'|
|**PRIMARY KEY**|(id_orden)                                      |                     |
|**FOREIGN KEY**|(id_cliente) REFERENCES clientes (id_cliente)   |                     |
|**FOREIGN KEY**|(id_empleado) REFERENCES empleados (id_empleado)|                     |

#### 1.1.7-TABLA detalle_ordenes.

|Columna             |Tipo                                            |Valores permitidos|
|--------------------|------------------------------------------------|------------------|
|**id_detalle_orden**|INT UNSIGNED AUTO_INCREMENT                     |                  |
|**id_orden**        |INT UNSIGNED                                    |                  |
|**id_producto**     |INT UNSIGNED                                    |                  |
|**cantidad**        |INT UNSIGNED                                    |                  |
|**precio_unitario** |FLOAT(10,2)                                     |                  |
|**descuento**       |FLOAT(3,2)                                      |                  |
|**PRIMARY KEY**     |(id_detalle_orden)                              |                  |
|**FOREIGN KEY**     |(id_orden) REFERENCES ordenes (id_orden)        |                  |
|**FOREIGN KEY**     |(id_producto) REFERENCES productos (id_producto)|                  |

### 1.2-CÓDIGO SQL DE LA BASE DE DATOS

In [1]:
query = """/*Se borra cualquier Base de Datos existente que tenga el mismo nombre*/

DROP DATABASE IF EXISTS supermercado;

/*Se crea la Base de Datos*/

CREATE DATABASE IF NOT EXISTS supermercado;

USE supermercado;

/*Se crea la tabla tiendas*/

CREATE TABLE tiendas (
    id_tienda INT UNSIGNED AUTO_INCREMENT,
    nombre_tienda VARCHAR(60),
    direccion VARCHAR(80),
    ciudad VARCHAR(40),
    cod_postal INT(5) UNSIGNED,
    PRIMARY KEY (id_tienda)
);

/*Se crea la tabla empleados*/

CREATE TABLE empleados (
    id_empleado INT UNSIGNED AUTO_INCREMENT,
    id_tienda INT UNSIGNED,
    nombre_empleado VARCHAR(60),
    puesto ENUM ('Cajero', 'Gerente', 'Reponedor'),
    PRIMARY KEY (id_empleado),
    FOREIGN KEY (id_tienda) REFERENCES tiendas (id_tienda)
);

/*Se crea la tabla categorias*/

CREATE TABLE categorias (
    id_categoria INT UNSIGNED AUTO_INCREMENT,
    nombre_categoria VARCHAR(60),
    PRIMARY KEY (id_categoria)
);

/*Se crea la tabla productos*/

CREATE TABLE productos (
    id_producto INT UNSIGNED AUTO_INCREMENT,
    id_categoria INT UNSIGNED,
    nombre_producto VARCHAR(60),
    precio FLOAT(10,2),
    stock MEDIUMINT,
    PRIMARY KEY (id_producto),
    FOREIGN KEY (id_categoria) REFERENCES categorias (id_categoria)
);

/*Se crea la tabla clientes*/

CREATE TABLE clientes (
    id_cliente INT UNSIGNED AUTO_INCREMENT,
    nombre_cliente VARCHAR(60),
    apellid_cliente VARCHAR(60),
    email VARCHAR(60),
    cod_postal INT(5) UNSIGNED,
    PRIMARY KEY (id_cliente)
);

/*Se crea la tabla ordenes*/

CREATE TABLE ordenes (
    id_orden INT UNSIGNED AUTO_INCREMENT,
    id_cliente INT UNSIGNED,
    id_empleado INT UNSIGNED,
    fecha_orden DATE,
    metodo_pago ENUM ('Tarjeta', 'Metalico'),
    PRIMARY KEY (id_orden),
    FOREIGN KEY (id_cliente) REFERENCES clientes (id_cliente),
    FOREIGN KEY (id_empleado) REFERENCES empleados (id_empleado)
);

/*Se crea la tabla detalle_ordenes*/

CREATE TABLE detalle_ordenes (
    id_detalle INT UNSIGNED AUTO_INCREMENT,
    id_orden INT UNSIGNED,
    id_producto INT UNSIGNED,
    cantidad INT UNSIGNED,
    precio_unitario FLOAT(10,2),
    descuento FLOAT(3,2),
    PRIMARY KEY (id_detalle),
    FOREIGN KEY (id_orden) REFERENCES ordenes (id_orden),
    FOREIGN KEY (id_producto) REFERENCES productos (id_producto)
);
"""

### 1.3-CÓDIGO PYTHON PARA GENERAR LA BASE DE DATOS.

#### 1.3.1-INICIALIZACIÓN DE LIBRERÍAS.

In [2]:
import pandas as pd
import mysql
import mysql.connector as con
from mysql.connector import Error # Se importa el módulo de errores de conexión a Base de Datos.

#### 1.3.2-CONEXIÓN Y CREACIÓN DE LA BASE DE DATOS.

In [3]:
try:
    conexion = con.connect( # Se crea la conexión.
    host= 'localhost',
    port = '3306',
    user = 'root',
    password = 'admin'
    )
    
    if conexion.is_connected(): # Se comprueba si se ha establecido conexión correctamente con la Base de Datos.
        print("Conexión correcta a MySQL.")
        cursor = conexion.cursor()
        for sentencia in query.split(';'): # Se crea una lista, cuyos elementos son las sentencias SQL contenidas en la variable 'query', se recorren sus elementos.
            if sentencia.strip(): # Elemento no vacío.
                cursor.execute(sentencia) # Se ejecuta la sentencia.
        print("Base de datos y tablas creadas correctamente.")
        
except Error as e: # Se ha producido un error de conexión con la Base de Datos.
    print(f"Error al conectar con MySQL: {e}.")
    
finally:
    if conexion.is_connected(): # Se cierran cursor y conexión.
        cursor.close()
        conexion.close()
        print("Conexión cerrada.")

Conexión correcta a MySQL.
Base de datos y tablas creadas correctamente.
Conexión cerrada.

## 2-GENERACIÓN DE DATOS DEMO.

## 3-CONSULTAS SQL.

### 3.1-LISTADO DE ÓRDENES, CON DETALLES DE CLIENTE Y EMPLEADO.

* Mostrar el ID de la orden, la fecha, el nombre del cliente, el nombre del empleado que atendió la compra y el método de pago.
* Utilizar un JOIN entre las tablas ordenes, clientes y empleados.

### 3.2-LISTADO DE PRODUCTOS CON STOCK BAJO.

* Filtrar aquellos productos cuyo stock sea menor a 10.
* Mostrar el nombre del producto, categoría y stock.

### 3.3-LISTADO DE VENTAS TOTALESTOTALES POR CATEGORÍA.

* Mostrar el nombre de la categoría y la suma total de las ventas (ej.: multiplicando cantidad * precio_unitario) para cada categoría.
* Realizar el JOIN con detalle_ordenes.
* Utilizar agrupación (GROUP BY).

### 3.4-LISTADO DE LOS CLIENTES CON MAYORES GASTOS ACUMULADOS.

* Mostrar el nombre del cliente y el monto total que ha gastado (suma de todas sus órdenes).
* Nos aseguramos de tener en cuenta posibles descuentos (descuento), si se ha definido. Por ejemplo, la fórmula podría ser (cantidad * precio_unitario) - descuento.
* Ordenar el resultado de mayor a menor gasto acumulado.

### 3.5-LISTADO DE EMPLEADOS Y EL NÚMERO DE ÓRDENES GESTIONADAS.

* Mostrar el nombre del empleado, el puesto y la cantidad de órdenes que ha gestionado.
* Utilizar GROUP BY y COUNT.

### 3.6-LISTADO DE ÓRDENES, FIILTRADAS POR FECHA Y TIENDA.

* Mostrar todas las órdenes que se realizaron en un rango de fechas determinado (ej.: del 1 de enero de 2025 al 31 de enero de 2025) y en una tienda específica.
* Incluir datos de la tienda y del cliente.

### 3.7-RANKING DE LOS PRODUCTOS MÁS VENDIDOS EN CADA TIENDA.

* Para cada tienda, mostrar los 3 productos más vendidos (en términos de cantidad total).
* Habrá que unir tiendas, empleados, ordenes y detalle_orden, además de productos.
* Usar GROUP BY y ordena por la cantidad sumada (y opcionalmente, un LIMIT 3).

### 3.8-OPCIONAL.

Añadir alguna consulta con subconsultas o algo que no se abarque en las anteriores consulta.