# EJERCICIO MÓDULO 4: BASE DE DATOS 'SUPERMERCADO'

## 1-CREACIÓN DE LA BASE DE DATOS.

Se genera una Base de Datos relacional cuya temática es la operativa habitual de un supermercado. Para ello, se definirán las correspondientes tablas de datos, así como las relaciones entre dichas tablas.

### 1.1-DEFINICIÓN DE LAS TABLAS DE DATOS.

Se define cada una de las tablas que componen la Base de Datos, junto a sus atributos, los tipos de datos y las relaciones.

#### 1.1.1-TABLA tiendas.

|Columna          |Tipo                       |Valores permitidos|
|-----------------|---------------------------|------------------|
|**id_tienda**    |INT UNSIGNED AUTO_INCREMENT|                  |
|**nombre_tienda**|VARCHAR(60)                |                  |
|**direccion**    |VARCHAR(80)                |                  |
|**ciudad**       |VARCHAR(40)                |                  |
|**cod_postal**   |INT(5) UNSIGNED            |                  |
|**PRIMARY KEY**  |(id_tienda)                |                  |

#### 1.1.2-TABLA empleados.

|Columna            |Tipo                                     |Valores permitidos                          |
|-------------------|-----------------------------------------|--------------------------------------------|
|**id_empleado**    |INT UNSIGNED AUTO_INCREMENT              |                                            |
|**id_tienda**      |INT UNSIGNED                             |                                            |
|**nombre_empleado**|VARCHAR(60)                              |                                            |
|**puesto**         |ENUM                                     |'Cajero', 'Gerente', 'Reponedor', 'Vendedor'|
|**PRIMARY KEY**    |(id_empleado)                            |                                            |
|**FOREIGN KEY**    |(id_tienda) REFERENCES tienda (id_tienda)|                                            |

#### 1.1.3-TABLA categorias.

|Columna             |Tipo                       |Valores permitidos|
|--------------------|---------------------------|------------------|
|**id_categoria**    |INT UNSIGNED AUTO_INCREMENT|                  |
|**nombre_categoria**|VARCHAR(60)                |                  |
|**PRIMARY KEY**     |(id_categoria)             |                  |

#### 1.1.4-TABLA productos.

|Columna            |Tipo                                               |Valores permitidos|
|-------------------|---------------------------------------------------|------------------|
|**id_producto**    |INT UNSIGNED AUTO_INCREMENT                        |                  |
|**id_categoria**   |INT UNSIGNED                                       |                  |
|**nombre_producto**|VARCHAR(60)                                        |                  |
|**precio**         |FLOAT(10,2)                                        |                  |
|**stock**          |MEDIUMINT                                          |                  |
|**PRIMARY KEY**    |(id_producto)                                      |                  |
|**FOREIGN KEY**    |(id_categoria) REFERENCES categorias (id_categoria)|                  |

#### 1.1.5-TABLA clientes.

|Columna             |Tipo                                   |Valores permitidos|
|--------------------|---------------------------------------|------------------|
|**id_cliente**      |INT UNSIGNED PRIMARY KEY AUTO_INCREMENT|                  |
|**nombre_cliente**  |VARCHAR(60)                            |                  |
|**apellido_cliente**|VARCHAR(60)                            |                  |
|**email**           |VARCHAR(60)                            |                  |
|**cod_postal**      |INT(5) UNSIGNED                        |                  |
|**PRIMARY KEY**     |(id_cliente)                           |                  |

#### 1.1.6-TABLA ordenes.

|Columna        |Tipo                                            |Valores permitidos   |
|---------------|------------------------------------------------|---------------------|
|**id_orden**   |INT UNSIGNED AUTO_INCREMENT                     |                     |
|**id_cliente** |INT UNSIGNED                                    |                     |
|**id_empleado**|INT UNSIGNED                                    |                     |
|**fecha_orden**|DATE                                            |                     |
|**metodo_pago**|ENUM                                            |'Tarjeta', 'Efectivo'|
|**PRIMARY KEY**|(id_orden)                                      |                     |
|**FOREIGN KEY**|(id_cliente) REFERENCES clientes (id_cliente)   |                     |
|**FOREIGN KEY**|(id_empleado) REFERENCES empleados (id_empleado)|                     |

#### 1.1.7-TABLA detalle_ordenes.

|Columna             |Tipo                                            |Valores permitidos|
|--------------------|------------------------------------------------|------------------|
|**id_detalle_orden**|INT UNSIGNED AUTO_INCREMENT                     |                  |
|**id_orden**        |INT UNSIGNED                                    |                  |
|**id_producto**     |INT UNSIGNED                                    |                  |
|**cantidad**        |INT UNSIGNED                                    |                  |
|**precio_unitario** |FLOAT(10,2)                                     |                  |
|**descuento**       |FLOAT(3,2)                                      |                  |
|**PRIMARY KEY**     |(id_detalle_orden)                              |                  |
|**FOREIGN KEY**     |(id_orden) REFERENCES ordenes (id_orden)        |                  |
|**FOREIGN KEY**     |(id_producto) REFERENCES productos (id_producto)|                  |

### 1.2-CÓDIGO SQL DE LA BASE DE DATOS

Se añade a una variable ('query'), en formato string, el conjunto de sentencias SQL que generan la Base de Datos 'supermercado'. De esta manera, desde código Python integrado en este mismo notebook, se puede ir extrayendo de la variable cada sentencia SQL a ejecutar.

In [1]:
query = """/*Se borra cualquier Base de Datos existente que tenga el mismo nombre*/

DROP DATABASE IF EXISTS supermercado;

/*Se crea la Base de Datos*/

CREATE DATABASE IF NOT EXISTS supermercado;

USE supermercado;

/*Se crea la tabla tiendas*/

CREATE TABLE tiendas (
    id_tienda INT UNSIGNED AUTO_INCREMENT,
    nombre_tienda VARCHAR(60),
    direccion VARCHAR(80),
    ciudad VARCHAR(40),
    cod_postal VARCHAR(5),
    PRIMARY KEY (id_tienda)
);

/*Se crea la tabla empleados*/

CREATE TABLE empleados (
    id_empleado INT UNSIGNED AUTO_INCREMENT,
    id_tienda INT UNSIGNED,
    nombre_empleado VARCHAR(30),
    apellido_empleado VARCHAR(30),
    puesto ENUM ('Cajero', 'Gerente', 'Reponedor', 'Vendedor'),
    PRIMARY KEY (id_empleado),
    FOREIGN KEY (id_tienda) REFERENCES tiendas (id_tienda)
);

/*Se crea la tabla categorias*/

CREATE TABLE categorias (
    id_categoria INT UNSIGNED AUTO_INCREMENT,
    nombre_categoria VARCHAR(60),
    PRIMARY KEY (id_categoria)
);

/*Se crea la tabla productos*/

CREATE TABLE productos (
    id_producto INT UNSIGNED AUTO_INCREMENT,
    id_categoria INT UNSIGNED,
    nombre_producto VARCHAR(60),
    precio FLOAT(10,2),
    stock MEDIUMINT,
    PRIMARY KEY (id_producto),
    FOREIGN KEY (id_categoria) REFERENCES categorias (id_categoria)
);

/*Se crea la tabla clientes*/

CREATE TABLE clientes (
    id_cliente INT UNSIGNED AUTO_INCREMENT,
    nombre_cliente VARCHAR(30),
    apellido_cliente VARCHAR(30),
    email VARCHAR(80),
    direccion VARCHAR(80),
    ciudad VARCHAR(40),
    cod_postal VARCHAR(5),
    PRIMARY KEY (id_cliente)
);

/*Se crea la tabla ordenes*/

CREATE TABLE ordenes (
    id_orden INT UNSIGNED AUTO_INCREMENT,
    id_cliente INT UNSIGNED,
    id_empleado INT UNSIGNED,
    fecha_orden DATE,
    metodo_pago ENUM ('Tarjeta', 'Efectivo'),
    PRIMARY KEY (id_orden),
    FOREIGN KEY (id_cliente) REFERENCES clientes (id_cliente),
    FOREIGN KEY (id_empleado) REFERENCES empleados (id_empleado)
);

/*Se crea la tabla detalle_ordenes*/

CREATE TABLE detalle_ordenes (
    id_detalle INT UNSIGNED AUTO_INCREMENT,
    id_orden INT UNSIGNED,
    id_producto INT UNSIGNED,
    cantidad INT UNSIGNED,
    precio_unitario FLOAT(10,2),
    descuento FLOAT(3,2),
    PRIMARY KEY (id_detalle),
    FOREIGN KEY (id_orden) REFERENCES ordenes (id_orden),
    FOREIGN KEY (id_producto) REFERENCES productos (id_producto)
);
"""

### 1.3-CÓDIGO PYTHON PARA GENERAR LA BASE DE DATOS.

#### 1.3.1-DATOS DE CONEXIÓN A LA BASE DE DATOS.

In [2]:
usuario_db = 'root'
password_db = 'admin'
host_db = 'localhost'
port_db = '3306'
nombre_db = 'supermercado'

#### 1.3.2-INICIALIZACIÓN DE LIBRERÍAS.

In [3]:
import pandas as pd
import mysql.connector as con
from mysql.connector import Error # Se importa el módulo de errores de conexión a Base de Datos.
from sqlalchemy import create_engine, exc
import random
from datetime import datetime, timedelta

#### 1.3.3-CREACIÓN DE LA BASE DE DATOS.

In [4]:
try:
    conexion = con.connect(                     # Se crea la conexión.
    host= host_db,
    port = port_db,
    user = usuario_db,
    password = password_db
    )
    
    if conexion.is_connected():                 # Se comprueba si se ha establecido conexión correctamente con la Base de Datos.
        print("Conexión correcta a MySQL.")
        cursor = conexion.cursor()
        for sentencia in query.split(';'):      # Se crea una lista, cuyos elementos son las sentencias SQL contenidas en la variable 'query', se recorren sus elementos.
            if sentencia.strip():               # Elemento no vacío.
                cursor.execute(sentencia)       # Se ejecuta la sentencia.
        print("Base de datos y tablas creadas correctamente.")
        
except Error as e:                              # Se ha producido un error de conexión con la Base de Datos.
    print(f"Error al conectar con MySQL: {e}.")
    
finally:
    if conexion.is_connected():                 # Se cierran cursor y conexión.
        cursor.close()
        conexion.close()
        print("Conexión cerrada.")

Conexión correcta a MySQL.
Base de datos y tablas creadas correctamente.
Conexión cerrada.

## 2-GENERACIÓN DE DATOS DEMO.

### 2.1-FUNCIONES AUXILIARES.

#### 2.1.1-Función generar_direccion().

In [5]:
# Función que genera, de forma aleatoria una dirección.
    # Entrada: (vacía).
    # Salida: Devuielve una lista cuyos elementos son, respectivamente: calle, ciudad y código postal.
def generar_direccion():
    lista_direccion = []        # Se genera lista para almacenar datos de la dirección.
    
    # Lista que sirve de base para seleccionar la calle del cliente.
    direccion = [
        "Calle Serrano", "Avenida del Cid", "Plaza Mayor", "Calle Gran Vía", "Avenida de Burgos",
        "Calle de Alcalá", "Avenida Europa", "Calle San Martín", "Plaza del Sol", "Calle Princesa",
        "Avenida de la Ilustración", "Calle del Comercio", "Calle Real", "Calle Mayor", "Calle del Juego",
        "Avenida de España", "Calle Libertad", "Plaza Nueva", "Calle del Centro", "Calle Industria"
        ]
    
    # Lista que sirve de base para seleccionar la ciudad del cliente.
    ciudad = [
        "Madrid", "Valencia", "Barcelona", "Sevilla", "Bilbao",
        "Málaga", "Granada", "Santander", "Alicante", "Zaragoza",
        "Córdoba", "Valladolid", "Oviedo", "Murcia", "Toledo",
        "Salamanca", "San Sebastián", "Palma", "Burgos", "Almería"
        ]
    
    # Lista que sirve de base para seleccionar el código postal del cliente.
    cod_postal = [
        28001, 46001, 8002, 41004, 48002,
        29007, 18001, 39001, 30001, 50001,
        14001, 47001, 33001, 30002, 45001,
        37001, 20001, 7011, 9001, 40001
        ]

    indice = random.randint(0, len(direccion) - 1)      # Se genera, aleatoriamente, el índice para seleccionar los correspondientes datos en cada una de las listas.
    lista_direccion = [direccion[indice] + f', {random.randint(1, 100)}', ciudad[indice], str(cod_postal[indice]).zfill(5)]         # Se añaden los datos seleccionados a la lista.
    return lista_direccion

#### 2.1.2-Función generar_nombre_apellido().

In [6]:
# Función para generar una lista cuyos elementos son un nombre y un apellido, de forma aleatoria.
# Entrada: (vacía).
# Salida: Una lista cuyo primer elemento es un nombre, y su segundo elemento es un apellido.
def generar_nombre_apellido():
    
        # Lista que sirve de base para seleccionar el nombre.
        nombres_personas = [
            "Antonio", "María", "José", "Carmen", "Manuel", "Ana", "Francisco", "Laura",
            "Juan", "Isabel", "David", "Marta", "Luis", "Sara", "Javier", "Lucía",
            "Carlos", "Paula", "Miguel", "Elena", "Rafael", "Sofía", "Pedro", "Clara",
            "Jorge", "Teresa", "Alberto", "Rosa", "Álvaro", "Beatriz", "Sergio", "Julia",
            "Raúl", "Natalia", "Fernando", "Lorena", "Pablo", "Eva", "Diego", "Patricia",
            "Andrés", "Gloria", "Héctor", "Alicia", "Guillermo", "Cristina", "Rubén", "Verónica",
            "Vicente", "Noelia", "Óscar", "Silvia", "Adrián", "Nuria", "Ricardo", "Esther",
            "Ramón", "Irene", "Roberto", "Andrea"
            ]
        
        # Lista que sirve de base para seleccionar el apellido.
        apellidos_personas = [
            "García", "Martínez", "López", "Sánchez", "González", "Pérez", "Rodríguez", "Fernández",
            "Gómez", "Ruiz", "Díaz", "Hernández", "Alonso", "Torres", "Gil", "Ramírez",
            "Moreno", "Jiménez", "Molina", "Castro", "Ortiz", "Rubio", "Vázquez", "Romero",
            "Serrano", "Navarro", "Ramos", "Domínguez", "Álvarez", "Gutiérrez", "Iglesias", "Suárez",
            "Cruz", "Castillo", "Flores", "Delgado", "Nieto", "Aguilar", "Vega", "Herrera",
            "Peña", "Cabrera", "Fuentes", "León", "Marín", "Soto", "Rojas", "Carmona",
            "Guerrero", "Pardo", "Méndez", "Blanco", "Campos", "Vidal", "Luna", "Calvo",
            "Reyes", "Moya", "Ortega", "Prieto"
            ]
        
        nombre = random.choice(nombres_personas)        # Se selecciona, aleatoriamente, un nombre.
        apellido = random.choice(apellidos_personas)    # Se selecciona, aleatoriamente, un apellido.
            
        return [nombre, apellido]

#### 2.1.3-Función generar_fechas().

In [7]:
# Función para generar, de forma aleatoria, una fecha entre dos fechas datas.
# Entrada: Fecha de Inicio, formato AAAA-MM-DD en string & Fecha de Fin, formato AAAA-MM-DD en string.
# Salida: String con la fecha en formato AAAA-MM-DD. En caso de formato de fecha fin < fecha inicio, o quetengan un formato inadecuado, se genera un error y se imprime un mensaje de error.
def generar_fecha_aleatoria(fecha_inicio_str, fecha_fin_str):
    try:
        # Se comprueban y convierten las fechas de string a objetos datetime.
        fecha_inicio = datetime.strptime(fecha_inicio_str, '%Y-%m-%d')
        fecha_fin = datetime.strptime(fecha_fin_str, '%Y-%m-%d')
        
        # Se valida que la fecha de inicio es anterior o igual a la fecha fin.
        if fecha_inicio > fecha_fin:
            raise ValueError("La fecha de inicio no puede ser posterior a la fecha fin.")
        
        dias_totales = (fecha_fin - fecha_inicio).days                      # Se calcula el número total de días entre las dos fechas.
        
        dias_aleatorios = random.randint(0, dias_totales)                   # Se genera un número aleatorio de días dentro del rango.
        
        fecha_aleatoria = fecha_inicio + timedelta(days=dias_aleatorios)    # Se genera la nueva fecha aleatoria.
        
        return fecha_aleatoria.strftime('%Y-%m-%d')                         # Se devuelve la fecha aleatoria en formato string.
        
    except ValueError as e:                                                 # Se gestionan los de errores, si el formato es incorrecto o hay algún problema.
    
        return f"Error: {e}"

#### 2.1.4-Función insertar_dataframe().

In [8]:
# Función para insertar un DataFrame en una base de datos.
# Entrada: pd.DataFrame, con los datos a insertar & String, con el nombre de la base de datos & String, con el nombre de la tabla donde se insertará.
# Salida:  Si hasucedido algún error, se imprime mensaje de error.
def insertar_dataframe(df, database_name, table_name):
    try:
        connection = con.connect(
            host = "localhost",
            port = "3306",
            user = "root",
            password = "admin",
            database = database_name
        )
        cursor = connection.cursor()
        
        columns = ','.join(df.columns)
        placeholders = ','.join(['%s'] * len(df.columns))
        sql = f'INSERT INTO {table_name} ({columns}) VALUES ({placeholders});'
    
        rows = [tuple(row) for index, row in df.iterrows()]     # lista de tuplas con los datos del dataframe

        cursor.executemany(sql, rows)
        
        connection.commit()
        return cursor.rowcount
    except con.Error as error:
        print(f"Ha ocurrido un error: {error}")
        if connection:
            connection.rollback()
        return 0
    finally:
        if cursor: 
            cursor.close()
        if connection:
            connection.close()

#### 2.1.5-Función consultar_bd().

In [9]:
def consultar_bd(query, usuario_db, password_db, host_db, nombre_db):

    # Se crea la URL de la conexión.
    url_db = f'mysql+pymysql://{usuario_db}:{password_db}@{host_db}/{nombre_db}'

    try:
        engine = create_engine(url_db)                  # Se crea el motor de conexión.

        with engine.connect() as connection:            # Conexión con contexto administrado para garantizar el cierre.
            df = pd.read_sql(query, con=connection)     # Se ejecuta la consulta y se cargan los resultados en un DataFrame.
            return df

    except exc.OperationalError as e:
        print("Error de conexión a la base de datos. Verificar los parámetros de conexión.")
        print(e)

    except exc.ProgrammingError as e:
        print("Error en la consulta SQL. Revisar la sintaxis de la consulta.")
        print(e)

    except Exception as e:
        print("Ocurrió un error inesperado:")
        print(e)

    finally:                                            # Se libera el motor creado.
        if 'engine' in locals() and not engine.dispose():
            engine.dispose()

#### 2.1.6-Función generar_tiendas().

In [10]:
# Función para generar un DataFrame con un número aleatorio (entre 5 y 10) de tiendas.
# Entrada: (vacía).
# Salida: pd.DataFrame con datos de ejemplo de la tabla 'tienda'.
def generar_tiendas():
    
    num_tiendas = random.randint(5, 10)             # Se genera el número de tiendas que se van a crear, entre 5 y 10 tiendas.
    
    lista_tiendas = []                              # Se genera una lista donde se almacenarán los datos de las tiendas.
    
    for id_tienda in range(1, num_tiendas+1):       # Se crean las tiendas, según el número generado aleatoriamente.
        datos_direccion = generar_direccion()       # Se genera la dirección de la tienda.
        lista_tiendas.append({                      # Se añaden, a la lista, los datos de cada tienda generada.
            'id_tienda': id_tienda,
            'nombre_tienda': 'Supermercado ' + str(id_tienda),
            'direccion': datos_direccion[0],
            'ciudad': datos_direccion[1],
            'cod_postal': datos_direccion[2],
        })
    df = pd.DataFrame(lista_tiendas)                # Se crea el DataFrame a devolver.

    return df

#### 2.1.7-Función generar_empleados().

In [11]:
# Función para generar un Dataframe de Pandas con datos de ejemplo de empleados, de forma aleatoria, para cada tienda generada. Se generarán 20 empleados por tienda. 
# Un mismo empleado no puede pertenecer a más de una tienda al mismo tiempo.
# El valor del campo 'id_empleado' serán valores enteros cosecutivos, comenzando por '1'. Este campo, además, será el índice del DataFrame)
# El valor del campo 'puesto' debe ser un valor, a elegir de forma aleatoria entre los siguientes valores posibles: (‘Cajero’, ‘Gerente’, ‘Reponedor’, ‘Vendedor’).
# Entrada: Numero entero, mayor o igual a 1, de empleados a generar por tienda & lista con las id's de las tiendas generadas previamente. 
# Salida: pd.DataFrame con datos de ejemplo de la tabla 'empleados'.
def generar_empleados(num_empleados, lista_id_tiendas):
    
    lista_puestos = ['Cajero', 'Gerente', 'Reponedor', 'Vendedor']      # Lista con los puestos definidos en el supermercado.
    
    lista_empleados = []        # Se genera una lista para almacenar los datos de empleados.
    id_empleado = 1             # Se inicializa el id del empleado.

    for id_tienda in lista_id_tiendas:                          # Se recorren los id's de las tiendas existentes.
        for _ in range(num_empleados):                          # Se itera entre el número de empleados total que debe tener cada tienda.
            nombre_empleado = generar_nombre_apellido()[0]      # Se genera el nombre del empleado.
            apellido_empleado = generar_nombre_apellido()[1]    # Se genera el apellido del empleado. 
            puesto = random.choice(lista_puestos)               # Se selecciona el puesto del empleado.
            lista_empleados.append({                            # Se añade el diccionario con los datos de cada empleado a la lista.
                'id_empleado': id_empleado,
                'id_tienda': id_tienda,
                'nombre_empleado': nombre_empleado,
                'apellido_empleado': apellido_empleado,
                'puesto': puesto
            })
            id_empleado += 1

    df_empleados = pd.DataFrame(lista_empleados)        # Se crea el DataFrame a partir de la lista de empleados.
    
    return df_empleados

#### 2.1.8-Función generar_categorias().

In [12]:
# Función para generar un DataFrame de Pandas con 10 categorías de productos en venta.
# Entrada: (vacía). 
# Salida: pd.DataFrame con datos de ejemplo de la tabla 'categorias'. El campo 'id_categoria' es el índice del DataFrame
def generar_categorias():
    
    num_categorias = 10         # Se fija el número de categorías en 10.
    lista_categorias = {
        'id_categoria': [i + 1 for i in range(num_categorias)],     # Se genera una lista con los id_categoria.
        'nombre_categoria': ['Lácteos', 'Carnes', 'Frutas', 'Verduras', 'Bebidas', 'Panadería', 'Higiene', 'Pescadería', 'Charcutería', 'Parafarmacia']     # Revisar en caso de que num_categorias > 10
        }
    df = pd.DataFrame(lista_categorias)

    return df

#### 2.1.9-Función generar_productos().

In [13]:
# Función que genera un DataFrame de Pandas con datos de ejemplo de productos por cada categoría existente en la tabla 'categorias'.
# Entrada: pd.DataFrame de categorias & numero entero >=1.
# Salida: pd.DataFrame con datos de productos de ejemplo por cada categoría existente en la tabla 'categorias'
def generar_productos(n_productos,df_categorias):
    
    datos_productos = []                                    # Se genera una lista para almacenar los datos de los productos.

    id_producto = 1                                         # Contador para el id_productos.
    
    for id_cat in df_categorias['id_categoria']:            # Se recorrer los id_categorias.
        for n_prod in range(n_productos):                   # Se itera el numéro deseado de productos por cada categoría.
            nombre_producto = (f'Producto_{df_categorias['nombre_categoria'][id_cat-1]}_{n_prod+1}')        # Se forma el nombre de producto: Prducto_Categoría_Numero.
            precio = round(random.uniform(1.0, 100.0), 2)   # Se genera un precio aleatorio entre 1.00 y 100.00.
            stock = random.randint(10, 200)                 # Se genera un stock aleatorio entre 10 y 200 unidades.
            datos_productos.append({                        # Se añaden los datos de cada producto a la lista.
                'id_producto': id_producto,
                'id_categoria': id_cat,
                'nombre_producto': nombre_producto,
                'precio': precio,
                'stock': stock
            })
            id_producto += 1

    df_productos = pd.DataFrame(datos_productos)            # Se crea el DataFrame.

    return df_productos

#### 2.1.10-Función generar_clientes().

In [14]:
# Función para generar un Dataframe de Pandas con datos de ejemplo de clientes, de forma aleatoria.
# Entrada: Numero entero, mayor o igual a 1, de clientes a generar por tienda.
# Salida: pd.DataFrame con datos de ejemplo de la tabla 'clientes'. 
def generar_clientes(num_clientes):
    
    lista_datos_clientes = []           # Se genera lista para almacenar datos de los clientes.
          
    for num_c in range(num_clientes):                      # Se genera el numero de clientes definido en la entrada.
        nombre_cliente = generar_nombre_apellido()[0]      # Se selecciona, aleatoriamente, un nombre de cliente.
        apellido_cliente = generar_nombre_apellido()[1]    # Se selecciona, aleatoriamente, un apellido de cliente.
        lista_direccion = generar_direccion()              # Se genera, aleatoriamente, una dirección.
        
        lista_datos_clientes.append ({                     # Se añaden, a una lista, los datos generados del cliente.
            'id_cliente': num_c + 1,
            'nombre_cliente': nombre_cliente,
            'apellido_cliente': apellido_cliente,
            'email': nombre_cliente.lower() + '.' + apellido_cliente.lower() + str(num_c + 1) + '@test.com',
            'direccion': lista_direccion[0],
            'ciudad': lista_direccion[1],
            'cod_postal': lista_direccion[2],
            })

    df_clientes = pd.DataFrame(lista_datos_clientes)        # Se genera el DataFrame a devolver.
     
    return df_clientes

#### 2.1.11-Función generar_ordenes().

In [15]:
# Función para generar un múmero determinado de órdenes de compra demo, para la tabla 'ordenes'.
# Entrada: Número entero >=1 & Lista de códigos de cliente & Lista de códigos de empleados.
# Salida: pd.DataFrame con las ordenes generadas.
def generar_ordenes (num_ordenes, ids_clientes, ids_empleados):
    lista_ordenes = []
    lista_metodos_pago = ['Tarjeta', 'Efectivo']                # Lista para seleccionar los métodos de pago posibles.
    for id_orden in range(1,num_ordenes+1):                     # Se genera el número de ordenes concretados.
        lista_ordenes.append({                                  # Se añade las características de la orden a la lista.
            'id_orden': id_orden,
            'id_cliente': random.choice(ids_clientes),          # Se selecciona aleatoriamente in id_cliente.
            'id_empleado': random.choice(ids_empleados),        # Se selecciona aleatoriamente in id_empleado.
            'fecha_orden': generar_fecha_aleatoria('2024-01-01', '2025-01-01'), # Se genera aleatoriamente una fecha.
            'metodo_pago': random.choice(lista_metodos_pago)    # Se selecciona aleatoriamente unmétodo de pago.
        })
    df = pd.DataFrame(lista_ordenes)        # Se genera el DataFrame
    
    return df

#### 2.1.12-Función generar_detalle_ordenes().

In [16]:
# Función para generar un número determinado de demos de detalles de órdenes de compra, para la tabla 'detalle_ordenes'.
def generar_detalle_ordenes (num_detalles, ids_orden, df_productos):
    descuentos = (0.0, 0.05, 0.1, 0.15, 0.2, 0.25, 0.3, 0.35, 0.5) # Tupla con los descuentos permitidos.
    lista_detalles = []

    for id_detalle in range(1,num_detalles+1):                      # Se genera cada detallede orden.
        id_producto = random.choice(df_productos['id_producto'])    # Se selecciona aleatoriamente un id_producto.
        lista_detalles.append({                                     # Se añade las características de los detalles de la orden a la lista.
            'id_detalle': id_detalle, 
            'id_orden': random.choice(ids_orden),                   # Se elige aleatoriamente un id_orden.
            'id_producto': id_producto,
            'cantidad': random.randint(1, 20),                      # Se elige aleatoriamente una cantidad de unidades de compra del producto.
            'precio_unitario': df_productos[df_productos['id_producto'] == id_producto]['precio'].values[0],        # Se asigna el precio del producto anterior seleccionado.
            'descuento': random.choice(descuentos)                  # Se elige aleatoriamente un descuento a aplicar.
        })
    df = pd.DataFrame(lista_detalles)       # Se genera el DataFrame.
    
    return df

### 2.2-GENERACIÓN DE DATAFRAMES.

#### 2.2.1-DataFrame 'tiendas'.

In [17]:
df_tiendas = generar_tiendas()
df_tiendas

,id_tienda,nombre_tienda,direccion,ciudad,cod_postal
0,1,Supermercado 1,"Avenida Europa, 77",Granada,18001
1,2,Supermercado 2,"Avenida Europa, 100",Granada,18001
2,3,Supermercado 3,"Calle Industria, 46",Almería,40001
3,4,Supermercado 4,"Calle Princesa, 57",Zaragoza,50001
4,5,Supermercado 5,"Plaza Mayor, 98",Barcelona,08002
5,6,Supermercado 6,"Calle de Alcalá, 65",Málaga,29007
6,7,Supermercado 7,"Avenida de la Ilustración, 73",Córdoba,14001
7,8,Supermercado 8,"Calle Princesa, 2",Zaragoza,50001

#### 2.2.2-DataFrame 'empleados'.

In [18]:
df_empleados = generar_empleados(20, df_tiendas['id_tienda'])
df_empleados

     id_empleado  id_tienda nombre_empleado apellido_empleado     puesto
0              1          1           Elena             Rojas   Vendedor
1              2          1          Silvia          Guerrero     Cajero
2              3          1          Teresa         Gutiérrez   Vendedor
3              4          1       Guillermo             Ortiz   Vendedor
4              5          1         Natalia           Carmona    Gerente
..           ...        ...             ...               ...        ...
155          156          8          Andrea            Moreno  Reponedor
156          157          8            Sara           Serrano    Gerente
157          158          8         Roberto          Martínez     Cajero
158          159          8         Beatriz               Gil     Cajero
159          160          8            Luis             Vidal    Gerente

[160 rows x 5 columns]

#### 2.2.3-DataFrame 'categorias'.

In [19]:
df_categorias = generar_categorias()
df_categorias

   id_categoria nombre_categoria
0             1          Lácteos
1             2           Carnes
2             3           Frutas
3             4         Verduras
4             5          Bebidas
5             6        Panadería
6             7          Higiene
7             8       Pescadería
8             9      Charcutería
9            10     Parafarmacia

#### 2.2.4-DataFrame 'productos'.

In [20]:
df_productos = generar_productos(4, df_categorias)
df_productos

    id_producto  id_categoria          nombre_producto  precio  stock
0             1             1       Producto_Lácteos_1   98.37    161
1             2             1       Producto_Lácteos_2   29.90     27
2             3             1       Producto_Lácteos_3   10.53     37
3             4             1       Producto_Lácteos_4    6.00     31
4             5             2        Producto_Carnes_1   30.96     78
5             6             2        Producto_Carnes_2   23.33    177
6             7             2        Producto_Carnes_3   35.52    193
7             8             2        Producto_Carnes_4   43.36     15
8             9             3        Producto_Frutas_1    2.95    100
9            10             3        Producto_Frutas_2   57.07     28
10           11             3        Producto_Frutas_3   99.37    160
11           12             3        Producto_Frutas_4   62.43     82
12           13             4      Producto_Verduras_1   79.71     50
13           14             4      Producto_Verduras_2    7.69    166
14           15             4      Producto_Verduras_3   62.87    161
15           16             4      Producto_Verduras_4   15.61    167
16           17             5       Producto_Bebidas_1   41.28     21
17           18             5       Producto_Bebidas_2   63.17    165
18           19             5       Producto_Bebidas_3   24.87     44
19           20             5       Producto_Bebidas_4   98.28     48
20           21             6     Producto_Panadería_1   26.78     74
21           22             6     Producto_Panadería_2   23.15     93
22           23             6     Producto_Panadería_3   23.63     88
23           24             6     Producto_Panadería_4   89.57    123
24           25             7       Producto_Higiene_1   41.99     40
25           26             7       Producto_Higiene_2   53.10     68
26           27             7       Producto_Higiene_3   55.06     53
27           28             7       Producto_Higiene_4   29.38     77
28           29             8    Producto_Pescadería_1   15.18    194
29           30             8    Producto_Pescadería_2   54.42    145
30           31             8    Producto_Pescadería_3   49.84     14
31           32             8    Producto_Pescadería_4   23.33    134
32           33             9   Producto_Charcutería_1   41.76    160
33           34             9   Producto_Charcutería_2   22.15     38
34           35             9   Producto_Charcutería_3   22.22     11
35           36             9   Producto_Charcutería_4    4.20     69
36           37            10  Producto_Parafarmacia_1   95.47     40
37           38            10  Producto_Parafarmacia_2   71.54    126
38           39            10  Producto_Parafarmacia_3    3.32     81
39           40            10  Producto_Parafarmacia_4   34.76     19

#### 2.2.4-DataFrame 'clientes'.

In [21]:
df_clientes = generar_clientes(2000)
df_clientes

,id_cliente,nombre_cliente,apellido_cliente,email,direccion,ciudad,cod_postal
0,1,Roberto,Nieto,roberto.nieto1@test.com,"Plaza del Sol, 22",Alicante,30001
1,2,Eva,Gil,eva.gil2@test.com,"Calle Gran Vía, 9",Sevilla,41004
2,3,Andrea,Rojas,andrea.rojas3@test.com,"Calle Industria, 42",Almería,40001
3,4,Óscar,Blanco,óscar.blanco4@test.com,"Avenida de Burgos, 40",Bilbao,48002
4,5,Elena,Ortiz,elena.ortiz5@test.com,"Calle de Alcalá, 98",Málaga,29007
...,...,...,...,...,...,...,...
1995,1996,Francisco,Carmona,francisco.carmona1996@test.com,"Calle del Comercio, 51",Valladolid,47001
1996,1997,Juan,Alonso,juan.alonso1997@test.com,"Avenida Europa, 61",Granada,18001
1997,1998,Noelia,Gutiérrez,noelia.gutiérrez1998@test.com,"Calle del Centro, 51",Burgos,09001
1998,1999,Andrea,Gil,andrea.gil1999@test.com,"Calle Gran Vía, 76",Sevilla,41004
1999,2000,Carmen,Delgado,carmen.delgado2000@test.com,"Avenida del Cid, 1",Valencia,46001

#### 2.2.5-DataFrame 'ordenes'.

In [22]:
df_ordenes = generar_ordenes(10000,df_clientes['id_cliente'], df_empleados['id_empleado'])
df_ordenes

      id_orden  id_cliente  id_empleado fecha_orden metodo_pago
0            1           4           81  2024-03-15     Tarjeta
1            2        1309          134  2024-12-13    Efectivo
2            3          10           40  2024-07-04     Tarjeta
3            4        1655           11  2024-07-03     Tarjeta
4            5         666           80  2024-05-25     Tarjeta
...        ...         ...          ...         ...         ...
9995      9996          27          122  2024-01-31     Tarjeta
9996      9997         895           23  2024-09-24     Tarjeta
9997      9998        1241           53  2024-11-14    Efectivo
9998      9999        1056          127  2024-12-20    Efectivo
9999     10000         495           12  2024-06-13     Tarjeta

[10000 rows x 5 columns]

#### 2.2.6-DataFrame 'detalles_ordenes'.

In [23]:
df_detalle_ordenes = generar_detalle_ordenes(30000,df_ordenes['id_orden'],df_productos)
df_detalle_ordenes

       id_detalle  id_orden  id_producto  cantidad  precio_unitario  descuento
0               1      3025           38         2            71.54       0.30
1               2      8029           10        18            57.07       0.15
2               3      6841           36        14             4.20       0.35
3               4      7959           34        12            22.15       0.35
4               5      5099           34        10            22.15       0.35
...           ...       ...          ...       ...              ...        ...
29995       29996      7386           39        16             3.32       0.20
29996       29997      4522           21        13            26.78       0.25
29997       29998      6090           30        12            54.42       0.30
29998       29999      3351            3        17            10.53       0.10
29999       30000      2717           10        12            57.07       0.20

[30000 rows x 6 columns]

### 2.3-CARGA EN BASE DE DATOS.

In [24]:
# Variable con el nombre de la Base de Datos creada.
base_datos = 'supermercado'

#### 2.3.1-Carga de tabla 'tiendas'.

In [25]:
insertar_dataframe(df_tiendas,base_datos,'tiendas')

8

#### 2.3.2-Carga de tabla 'empleados'.

In [26]:
insertar_dataframe(df_empleados,base_datos,'empleados')

160

#### 2.3.3-Carga de tabla 'categorias'.

In [27]:
insertar_dataframe(df_categorias,base_datos,'categorias')

10

#### 2.3.4-Carga de tabla 'productos'.

In [28]:
insertar_dataframe(df_productos,base_datos,'productos')

40

#### 2.3.5-Carga de tabla 'clientes'.

In [29]:
insertar_dataframe(df_clientes,base_datos,'clientes')

2000

#### 2.3.6-Carga de tabla 'ordenes'.

In [30]:
insertar_dataframe(df_ordenes,base_datos,'ordenes')

10000

#### 2.3.7-Carga de tabla 'detalle_ordenes'.

In [31]:
insertar_dataframe(df_detalle_ordenes,base_datos,'detalle_ordenes')

30000

## 3-CONSULTAS SQL.

### 3.1-LISTADO DE ÓRDENES, CON DETALLES DE CLIENTE Y EMPLEADO.

* Mostrar el ID de la orden, la fecha, el nombre del cliente, el nombre del empleado que atendió la compra y el método de pago.
* Utilizar un JOIN entre las tablas ordenes, clientes y empleados.

In [32]:
query = 'SELECT * FROM categorias'

df_consulta_1 = consultar_bd(query, usuario_db, password_db, host_db, nombre_db)

df_consulta_1

   id_categoria nombre_categoria
0             1          Lácteos
1             2           Carnes
2             3           Frutas
3             4         Verduras
4             5          Bebidas
5             6        Panadería
6             7          Higiene
7             8       Pescadería
8             9      Charcutería
9            10     Parafarmacia

### 3.2-LISTADO DE PRODUCTOS CON STOCK BAJO.

* Filtrar aquellos productos cuyo stock sea menor a 10.
* Mostrar el nombre del producto, categoría y stock.

### 3.3-LISTADO DE VENTAS TOTALES POR CATEGORÍA.

* Mostrar el nombre de la categoría y la suma total de las ventas (ej.: multiplicando cantidad * precio_unitario) para cada categoría.
* Realizar el JOIN con detalle_ordenes.
* Utilizar agrupación (GROUP BY).

### 3.4-LISTADO DE LOS CLIENTES CON MAYORES GASTOS ACUMULADOS.

* Mostrar el nombre del cliente y el monto total que ha gastado (suma de todas sus órdenes).
* Nos aseguramos de tener en cuenta posibles descuentos (descuento), si se ha definido. Por ejemplo, la fórmula podría ser (cantidad * precio_unitario) - descuento.
* Ordenar el resultado de mayor a menor gasto acumulado.

### 3.5-LISTADO DE EMPLEADOS Y EL NÚMERO DE ÓRDENES GESTIONADAS.

* Mostrar el nombre del empleado, el puesto y la cantidad de órdenes que ha gestionado.
* Utilizar GROUP BY y COUNT.

### 3.6-LISTADO DE ÓRDENES, FIILTRADAS POR FECHA Y TIENDA.

* Mostrar todas las órdenes que se realizaron en un rango de fechas determinado (ej.: del 1 de enero de 2025 al 31 de enero de 2025) y en una tienda específica.
* Incluir datos de la tienda y del cliente.

### 3.7-RANKING DE LOS PRODUCTOS MÁS VENDIDOS EN CADA TIENDA.

* Para cada tienda, mostrar los 3 productos más vendidos (en términos de cantidad total).
* Habrá que unir tiendas, empleados, ordenes y detalle_orden, además de productos.
* Usar GROUP BY y ordena por la cantidad sumada (y opcionalmente, un LIMIT 3).

### 3.8-OPCIONAL.

Añadir alguna consulta con subconsultas o algo que no se abarque en las anteriores consulta.