# EJERCICIO MÓDULO 4: BASE DE DATOS 'SUPERMERCADO'

## 1-CREACIÓN DE LA BASE DE DATOS.

Se genera una Base de Datos relacional cuya temática es la operativa habitual de un supermercado. Para ello, se definirán las correspondientes tablas de datos, así como las relaciones entre dichas tablas.

### 1.1-DEFINICIÓN DE LAS TABLAS DE DATOS.

Se define cada una de las tablas que componen la Base de Datos, junto a sus atributos, los tipos de datos y las relaciones.

#### 1.1.1-TABLA tiendas.

|Columna          |Tipo                       |Valores permitidos|
|-----------------|---------------------------|------------------|
|**id_tienda**    |INT UNSIGNED AUTO_INCREMENT|                  |
|**nombre_tienda**|VARCHAR(60)                |                  |
|**direccion**    |VARCHAR(80)                |                  |
|**ciudad**       |VARCHAR(40)                |                  |
|**cod_postal**   |INT(5) UNSIGNED            |                  |
|**PRIMARY KEY**  |(id_tienda)                |                  |

#### 1.1.2-TABLA empleados.

|Columna            |Tipo                                     |Valores permitidos                          |
|-------------------|-----------------------------------------|--------------------------------------------|
|**id_empleado**    |INT UNSIGNED AUTO_INCREMENT              |                                            |
|**id_tienda**      |INT UNSIGNED                             |                                            |
|**nombre_empleado**|VARCHAR(60)                              |                                            |
|**puesto**         |ENUM                                     |'Cajero', 'Gerente', 'Reponedor', 'Vendedor'|
|**PRIMARY KEY**    |(id_empleado)                            |                                            |
|**FOREIGN KEY**    |(id_tienda) REFERENCES tienda (id_tienda)|                                            |

#### 1.1.3-TABLA categorias.

|Columna             |Tipo                       |Valores permitidos|
|--------------------|---------------------------|------------------|
|**id_categoria**    |INT UNSIGNED AUTO_INCREMENT|                  |
|**nombre_categoria**|VARCHAR(60)                |                  |
|**PRIMARY KEY**     |(id_categoria)             |                  |

#### 1.1.4-TABLA productos.

|Columna            |Tipo                                               |Valores permitidos|
|-------------------|---------------------------------------------------|------------------|
|**id_producto**    |INT UNSIGNED AUTO_INCREMENT                        |                  |
|**id_categoria**   |INT UNSIGNED                                       |                  |
|**nombre_producto**|VARCHAR(60)                                        |                  |
|**precio**         |FLOAT(10,2)                                        |                  |
|**stock**          |MEDIUMINT                                          |                  |
|**PRIMARY KEY**    |(id_producto)                                      |                  |
|**FOREIGN KEY**    |(id_categoria) REFERENCES categorias (id_categoria)|                  |

#### 1.1.5-TABLA clientes.

|Columna             |Tipo                                   |Valores permitidos|
|--------------------|---------------------------------------|------------------|
|**id_cliente**      |INT UNSIGNED PRIMARY KEY AUTO_INCREMENT|                  |
|**nombre_cliente**  |VARCHAR(60)                            |                  |
|**apellido_cliente**|VARCHAR(60)                            |                  |
|**email**           |VARCHAR(60)                            |                  |
|**cod_postal**      |INT(5) UNSIGNED                        |                  |
|**PRIMARY KEY**     |(id_cliente)                           |                  |

#### 1.1.6-TABLA ordenes.

|Columna        |Tipo                                            |Valores permitidos   |
|---------------|------------------------------------------------|---------------------|
|**id_orden**   |INT UNSIGNED AUTO_INCREMENT                     |                     |
|**id_cliente** |INT UNSIGNED                                    |                     |
|**id_empleado**|INT UNSIGNED                                    |                     |
|**fecha_orden**|DATE                                            |                     |
|**metodo_pago**|ENUM                                            |'Tarjeta', 'Efectivo'|
|**PRIMARY KEY**|(id_orden)                                      |                     |
|**FOREIGN KEY**|(id_cliente) REFERENCES clientes (id_cliente)   |                     |
|**FOREIGN KEY**|(id_empleado) REFERENCES empleados (id_empleado)|                     |

#### 1.1.7-TABLA detalle_ordenes.

|Columna             |Tipo                                            |Valores permitidos|
|--------------------|------------------------------------------------|------------------|
|**id_detalle_orden**|INT UNSIGNED AUTO_INCREMENT                     |                  |
|**id_orden**        |INT UNSIGNED                                    |                  |
|**id_producto**     |INT UNSIGNED                                    |                  |
|**cantidad**        |INT UNSIGNED                                    |                  |
|**precio_unitario** |FLOAT(10,2)                                     |                  |
|**descuento**       |FLOAT(3,2)                                      |                  |
|**PRIMARY KEY**     |(id_detalle_orden)                              |                  |
|**FOREIGN KEY**     |(id_orden) REFERENCES ordenes (id_orden)        |                  |
|**FOREIGN KEY**     |(id_producto) REFERENCES productos (id_producto)|                  |

### 1.2-CÓDIGO SQL DE LA BASE DE DATOS

In [1]:
query = """/*Se borra cualquier Base de Datos existente que tenga el mismo nombre*/

DROP DATABASE IF EXISTS supermercado;

/*Se crea la Base de Datos*/

CREATE DATABASE IF NOT EXISTS supermercado;

USE supermercado;

/*Se crea la tabla tiendas*/

CREATE TABLE tiendas (
    id_tienda INT UNSIGNED AUTO_INCREMENT,
    nombre_tienda VARCHAR(60),
    direccion VARCHAR(80),
    ciudad VARCHAR(40),
    cod_postal INT(5) UNSIGNED,
    PRIMARY KEY (id_tienda)
);

/*Se crea la tabla empleados*/

CREATE TABLE empleados (
    id_empleado INT UNSIGNED AUTO_INCREMENT,
    id_tienda INT UNSIGNED,
    nombre_empleado VARCHAR(60),
    puesto ENUM ('Cajero', 'Gerente', 'Reponedor', 'Vendedor'),
    PRIMARY KEY (id_empleado),
    FOREIGN KEY (id_tienda) REFERENCES tiendas (id_tienda)
);

/*Se crea la tabla categorias*/

CREATE TABLE categorias (
    id_categoria INT UNSIGNED AUTO_INCREMENT,
    nombre_categoria VARCHAR(60),
    PRIMARY KEY (id_categoria)
);

/*Se crea la tabla productos*/

CREATE TABLE productos (
    id_producto INT UNSIGNED AUTO_INCREMENT,
    id_categoria INT UNSIGNED,
    nombre_producto VARCHAR(60),
    precio FLOAT(10,2),
    stock MEDIUMINT,
    PRIMARY KEY (id_producto),
    FOREIGN KEY (id_categoria) REFERENCES categorias (id_categoria)
);

/*Se crea la tabla clientes*/

CREATE TABLE clientes (
    id_cliente INT UNSIGNED AUTO_INCREMENT,
    nombre_cliente VARCHAR(60),
    apellid_cliente VARCHAR(60),
    email VARCHAR(60),
    cod_postal INT(5) UNSIGNED,
    PRIMARY KEY (id_cliente)
);

/*Se crea la tabla ordenes*/

CREATE TABLE ordenes (
    id_orden INT UNSIGNED AUTO_INCREMENT,
    id_cliente INT UNSIGNED,
    id_empleado INT UNSIGNED,
    fecha_orden DATE,
    metodo_pago ENUM ('Tarjeta', 'Efectivo'),
    PRIMARY KEY (id_orden),
    FOREIGN KEY (id_cliente) REFERENCES clientes (id_cliente),
    FOREIGN KEY (id_empleado) REFERENCES empleados (id_empleado)
);

/*Se crea la tabla detalle_ordenes*/

CREATE TABLE detalle_ordenes (
    id_detalle INT UNSIGNED AUTO_INCREMENT,
    id_orden INT UNSIGNED,
    id_producto INT UNSIGNED,
    cantidad INT UNSIGNED,
    precio_unitario FLOAT(10,2),
    descuento FLOAT(3,2),
    PRIMARY KEY (id_detalle),
    FOREIGN KEY (id_orden) REFERENCES ordenes (id_orden),
    FOREIGN KEY (id_producto) REFERENCES productos (id_producto)
);
"""

### 1.3-CÓDIGO PYTHON PARA GENERAR LA BASE DE DATOS.

#### 1.3.1-INICIALIZACIÓN DE LIBRERÍAS.

In [2]:
import pandas as pd
import mysql
import mysql.connector as con
from mysql.connector import Error # Se importa el módulo de errores de conexión a Base de Datos.
import random
import datetime

#### 1.3.2-CONEXIÓN Y CREACIÓN DE LA BASE DE DATOS.

In [3]:
try:
    conexion = con.connect( # Se crea la conexión.
    host= 'localhost',
    port = '3306',
    user = 'root',
    password = 'admin'
    )
    
    if conexion.is_connected(): # Se comprueba si se ha establecido conexión correctamente con la Base de Datos.
        print("Conexión correcta a MySQL.")
        cursor = conexion.cursor()
        for sentencia in query.split(';'): # Se crea una lista, cuyos elementos son las sentencias SQL contenidas en la variable 'query', se recorren sus elementos.
            if sentencia.strip(): # Elemento no vacío.
                cursor.execute(sentencia) # Se ejecuta la sentencia.
        print("Base de datos y tablas creadas correctamente.")
        
except Error as e: # Se ha producido un error de conexión con la Base de Datos.
    print(f"Error al conectar con MySQL: {e}.")
    
finally:
    if conexion.is_connected(): # Se cierran cursor y conexión.
        cursor.close()
        conexion.close()
        print("Conexión cerrada.")

Conexión correcta a MySQL.
Base de datos y tablas creadas correctamente.
Conexión cerrada.

## 2-GENERACIÓN DE DATOS DEMO.

### 2.1-FUNCIONES AUXILIARES.

#### 2.1.1-Función generar_tiendas().

In [4]:
# Función para generar un DataFrame con un número aleatorio (entre 5 y 10) de tiendas.
# Entrada: (vacía).
# Salida: pd.DataFrame con datos de ejemplo de la tabla 'tienda'.
def generar_tiendas():
    # Se genera el número de tiendas que se van a crear.
    num_tiendas = random.randint(5, 10)
    
    # Se genera un diccionario, con el conjunto total (fijado en 20 elementos) de tiendas posibles, desde el que poder alimentar el DataFrame de salida.
    dict_tiendas = {
        "id_tienda": list(range(1, 21)),
        "nombre_tienda": ['Supermercado' for num in range(20)],
        "direccion": [
            "Calle Serrano, 47", "Avenida del Cid, 14", "Plaza Mayor, 5", "Calle Gran Vía, 21", "Carretera de Burgos, Km 12",
            "Calle de Alcalá, 150", "Avenida Europa, 8", "Calle San Martín, 32", "Plaza del Sol, 3", "Calle Princesa, 25",
            "Avenida de la Ilustración, 10", "Calle del Comercio, 19", "Calle Real, 44", "Calle Mayor, 9", "Calle del Juego, 11",
            "Avenida de España, 17", "Calle Libertad, 6", "Plaza Nueva, 7", "Calle del Centro, 12", "Calle Industria, 20"
        ],
        "ciudad": [
            "Madrid", "Valencia", "Barcelona", "Sevilla", "Bilbao",
            "Málaga", "Granada", "Santander", "Alicante", "Zaragoza",
            "Córdoba", "Valladolid", "Oviedo", "Murcia", "Toledo",
            "Salamanca", "San Sebastián", "Palma", "Burgos", "Almería"
        ],
        "cod_postal": [
            28001, 46001, 8002, 41004, 48002,
            29007, 18001, 39001, 30001, 50001,
            14001, 47001, 33001, 30002, 45001,
            37001, 20001, 7011, 9001, 40001
        ]
    }
    
    # Se formatean los códigos postales para convertirlos a cadenas con 5 dígitos.
    dict_tiendas["cod_postal"] = [f"{codigo:05d}" for codigo in dict_tiendas["cod_postal"]]

    # Se genera el DataFrame con todas las tiendas y se extrae una muestra aleatoria (sin repetición).
    df = pd.DataFrame(dict_tiendas).sample(num_tiendas, replace=False, random_state=42).reset_index(drop=True)
    
    # Se reasignan números consecutivos a la columna 'id_tienda'.
    df["id_tienda"] = range(1, len(df) + 1)
    
    # Se actualizan los valores de 'nombre_tienda' para incluir el valor de 'id_tienda' y así darle un nombre único a la tienda.
    df["nombre_tienda"] = df.apply(lambda fila: f"{fila['nombre_tienda']} {fila['id_tienda']}", axis=1)
    
    # Se establece la columna 'id_tienda' como índice del DataFrame.
    df.set_index("id_tienda", inplace=True)
    
    return df

#### 2.1.2-Función generar_empleados().

In [5]:
# Función para generar un Dataframe de Pandas con datos de ejemplo de empleados, de forma aleatoria, para cada tienda generada. Se generarán 20 empleados por tienda. 
# Un mismo empleado no puede pertenecer a más de una tienda al mismo tiempo.
# El valor del campo 'id_empleado' serán valores enteros cosecutivos, comenzando por '1'. Este campo, además, será el índice del DataFrame)
# El valor del campo 'puesto' debe ser un valor, a elegir de forma aleatoria entre los siguientes valores posibles: (‘Cajero’, ‘Gerente’, ‘Reponedor’, ‘Vendedor’).
# Entrada: Numero entero, mayor o igual a 1, de empleados a generar por tienda & lista con las id's de las tiendas generadas previamente. 
# Salida: pd.DataFrame con datos de ejemplo de la tabla 'empleados'.
def generar_empleados(num_empleados, lista_id_tiendas):
    # Lista de nombres y apellidos para generar una combinacikón aleatoria nombre + apellido de empleados.
    nombres = ["Carlos", "María", "Luis", "Ana", "Javier", "Isabel", "Pedro", "Lucía", "Diego", "Elena", "Roberto", "Manuel", "Gonzalo", "Pilar", "Natalia", "Antonia"]
    apellidos = ["García", "Martínez", "López", "Hernández", "Pérez", "González", "Sánchez", "Ramírez", "Torres", "Vargas", "Villarón", "Riquelme", "Bonparte"]
    puestos = ['Cajero', 'Gerente', 'Reponedor', 'Vendedor']

    # Se genera una lista para almacenar los datos de empleados.
    lista_empleados = []
    id_empleado = 1  # Se inicializa el id del empleado.

    for id_tienda in lista_id_tiendas: # Se recorren los id's de las tiendas existentes.
        for _ in range(num_empleados): # Se itera entre el número de empleados total que debe tener cada tienda.
            nombre_empleado = f"{random.choice(nombres)} {random.choice(apellidos)}" # Se forma el string 'Nombre Apellido'.
            puesto = random.choice(puestos) # Se selecciona el puesto del empleado.
            lista_empleados.append({ # Se añade el diccionario con los datos de cada empleado a la lista.
                "id_empleado": id_empleado,
                "id_tienda": id_tienda,
                "nombre_empleado": nombre_empleado,
                "puesto": puesto
            })
            id_empleado += 1

    # Crear el DataFrame
    df_empleados = pd.DataFrame(lista_empleados) # Se crea el DataFrame a partir de la lista de empleados.
    
    # Se establece la columna 'id_empleado' como índice del DataFrame.
    df_empleados.set_index("id_empleado", inplace=True)

    return df_empleados

In [6]:
df_tiendas = generar_tiendas()
print(df_tiendas)

df_empleados = generar_empleados(10, df_tiendas.index.values)
df_empleados

            nombre_tienda               direccion      ciudad cod_postal
id_tienda
1          Supermercado 1       Calle Serrano, 47      Madrid      28001
2          Supermercado 2          Plaza Nueva, 7       Palma      07011
3          Supermercado 3   Avenida de España, 17   Salamanca      37001
4          Supermercado 4     Avenida del Cid, 14    Valencia      46001
5          Supermercado 5        Plaza del Sol, 3    Alicante      30001
6          Supermercado 6    Calle de Alcalá, 150      Málaga      29007
7          Supermercado 7  Calle del Comercio, 19  Valladolid      47001
8          Supermercado 8      Calle Gran Vía, 21     Sevilla      41004

             id_tienda  nombre_empleado    puesto
id_empleado
1                    1    Javier Vargas   Gerente
2                    1  Manuel Bonparte    Cajero
3                    1   Roberto García   Gerente
4                    1     Manuel Pérez  Vendedor
5                    1    Ana Hernández  Vendedor
...                ...              ...       ...
76                   8   Natalia Vargas   Gerente
77                   8     María García    Cajero
78                   8  Isabel Martínez   Gerente
79                   8   María Villarón    Cajero
80                   8      Elena López    Cajero

[80 rows x 3 columns]

#### 2.1.3-Función generar_categorias().

In [7]:
# Función para generar un DataFrame de Pandas con 10 categorías de productos en venta.
# Entrada: (vacía). 
# Salida: pd.DataFrame con datos de ejemplo de la tabla 'categorias'. El campo 'id_categoria' es el índice del DataFrame
def generar_categorias():
    num_categorias = 10
    lista_categorias = {
        'id_categoria': [i + 1 for i in range(num_categorias)],
        'nombre_categorias': ['Lácteos', 'Carnes', 'Frutas', 'Verduras', 'Bebidas', 'Panadería', 'Higiene', 'Pescadería', 'Charcutería', 'Parafarmacia'] # Revisar en caso de que num_categorias > 10
        }
    df = pd.DataFrame(lista_categorias)
    df.set_index('id_categoria', inplace=True) # Se fija la columna 'id_categoria' como índice del DataFrame.
    return df

In [15]:
df_categorias = generar_categorias()

#### 2.1.4-Función generar_productos().

In [13]:
# Función que genera un DataFrame de Pandas con datos de ejemplo de productos por cada categoría existente en la tabla 'categorias'.
# Entrada: pd.DataFrame de categorias & numero entero >=1.
# Salida: pd.DataFrame con datos de productos de ejemplo por cada categoría existente en la tabla 'categorias'
def generar_productos(n_productos,df_categorias):
    # Lista para almacenar los datos de los productos
    datos_productos = []

    id_producto = 1  # Contador para el ID de productos
    
    for id_cat in df_categorias.index.values: # Se recorrer los id_categorias
        for n_prod in range(n_productos): # Se itera el numéro deseado de productos por cada categoría.
            nombre_producto = (f'Producto_{df_categorias['nombre_categorias'][id_cat]}_{n_prod+1}') # Se forma el nombre de producto: Prducto_Categoría_Numero.
            precio = round(random.uniform(1.0, 100.0), 2)   # Se genera un precio aleatorio entre 1.00 y 100.00.
            stock = random.randint(10, 200)                 # Se genera un stock aleatorio entre 10 y 200 unidades.
            datos_productos.append({                        # Se añaden los datos de cada producto a la lista.
                "id_producto": id_producto,
                "id_categoria": id_cat,
                "nombre_producto": nombre_producto,
                "precio": precio,
                "stock": stock
            })
            id_producto += 1

    df_productos = pd.DataFrame(datos_productos)            # Se crea el DataFrame.
    df_productos.set_index('id_producto', inplace=True)     # Se sustituye el índice del DataFrame por el id_producto.

    return df_productos

In [14]:
df_productos = generar_productos(4,df_categorias)
df_productos

             id_categoria          nombre_producto  precio  stock
id_producto
1                       1       Producto_Lácteos_1   22.15     83
2                       1       Producto_Lácteos_2   57.53     94
3                       1       Producto_Lácteos_3   14.71     51
4                       1       Producto_Lácteos_4   25.75    188
5                       2        Producto_Carnes_1   65.17    186
6                       2        Producto_Carnes_2   15.07    165
7                       2        Producto_Carnes_3   11.05     27
8                       2        Producto_Carnes_4   63.57     96
9                       3        Producto_Frutas_1   23.61     18
10                      3        Producto_Frutas_2   97.44     20
11                      3        Producto_Frutas_3   86.43     89
12                      3        Producto_Frutas_4    4.17     66
13                      4      Producto_Verduras_1   83.38    118
14                      4      Producto_Verduras_2   20.86    138
15                      4      Producto_Verduras_3   20.61     60
16                      4      Producto_Verduras_4   97.91    113
17                      5       Producto_Bebidas_1   39.21     84
18                      5       Producto_Bebidas_2   53.11    195
19                      5       Producto_Bebidas_3    4.84    129
20                      5       Producto_Bebidas_4   32.66    113
21                      6     Producto_Panadería_1   16.77    193
22                      6     Producto_Panadería_2   34.25     89
23                      6     Producto_Panadería_3    2.26     82
24                      6     Producto_Panadería_4   17.47    115
25                      7       Producto_Higiene_1   24.03     27
26                      7       Producto_Higiene_2   82.69    195
27                      7       Producto_Higiene_3   85.78     84
28                      7       Producto_Higiene_4   48.74    191
29                      8    Producto_Pescadería_1   68.33    199
30                      8    Producto_Pescadería_2   79.16    145
31                      8    Producto_Pescadería_3   41.50    172
32                      8    Producto_Pescadería_4   97.55     88
33                      9   Producto_Charcutería_1   40.36    102
34                      9   Producto_Charcutería_2   48.85    182
35                      9   Producto_Charcutería_3   73.35    160
36                      9   Producto_Charcutería_4   11.24    199
37                     10  Producto_Parafarmacia_1   67.12    149
38                     10  Producto_Parafarmacia_2   51.21    155
39                     10  Producto_Parafarmacia_3    5.88     86
40                     10  Producto_Parafarmacia_4   53.03    145

## 3-CONSULTAS SQL.

### 3.1-LISTADO DE ÓRDENES, CON DETALLES DE CLIENTE Y EMPLEADO.

* Mostrar el ID de la orden, la fecha, el nombre del cliente, el nombre del empleado que atendió la compra y el método de pago.
* Utilizar un JOIN entre las tablas ordenes, clientes y empleados.

### 3.2-LISTADO DE PRODUCTOS CON STOCK BAJO.

* Filtrar aquellos productos cuyo stock sea menor a 10.
* Mostrar el nombre del producto, categoría y stock.

### 3.3-LISTADO DE VENTAS TOTALESTOTALES POR CATEGORÍA.

* Mostrar el nombre de la categoría y la suma total de las ventas (ej.: multiplicando cantidad * precio_unitario) para cada categoría.
* Realizar el JOIN con detalle_ordenes.
* Utilizar agrupación (GROUP BY).

### 3.4-LISTADO DE LOS CLIENTES CON MAYORES GASTOS ACUMULADOS.

* Mostrar el nombre del cliente y el monto total que ha gastado (suma de todas sus órdenes).
* Nos aseguramos de tener en cuenta posibles descuentos (descuento), si se ha definido. Por ejemplo, la fórmula podría ser (cantidad * precio_unitario) - descuento.
* Ordenar el resultado de mayor a menor gasto acumulado.

### 3.5-LISTADO DE EMPLEADOS Y EL NÚMERO DE ÓRDENES GESTIONADAS.

* Mostrar el nombre del empleado, el puesto y la cantidad de órdenes que ha gestionado.
* Utilizar GROUP BY y COUNT.

### 3.6-LISTADO DE ÓRDENES, FIILTRADAS POR FECHA Y TIENDA.

* Mostrar todas las órdenes que se realizaron en un rango de fechas determinado (ej.: del 1 de enero de 2025 al 31 de enero de 2025) y en una tienda específica.
* Incluir datos de la tienda y del cliente.

### 3.7-RANKING DE LOS PRODUCTOS MÁS VENDIDOS EN CADA TIENDA.

* Para cada tienda, mostrar los 3 productos más vendidos (en términos de cantidad total).
* Habrá que unir tiendas, empleados, ordenes y detalle_orden, además de productos.
* Usar GROUP BY y ordena por la cantidad sumada (y opcionalmente, un LIMIT 3).

### 3.8-OPCIONAL.

Añadir alguna consulta con subconsultas o algo que no se abarque en las anteriores consulta.